<!--AnoGAN에 사용될 이미지 입력-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask image get</title>
</head>
<body>    
    <br>
    <h1 align="center">AnoGAN</h1>
    <br>
    <form align="center" action="/ano_post" method="POST" enctype="multipart/form-data">
        <h2 align="center">Input Image</h2>
        <div align="center" id='view_area'></div>
        <br>
        <input type="file" name="user_img" id="user_img" value="userImage" onchange="previewImage(this,'view_area')"/>
        <input type="submit" value="확인"/>
    </form>
    <br><br><br>
 
</body>
</html>