<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Index</title>
</head>
 
<body>
    <br>
    <h1 align="center">핸들 버튼 불량 검출</h1>
    <br>
    <ul>
        <li><h2><a href="/ano_get">AnoGAN</a></h2></li>
        <li><h2><a href="/yolo_get">Yolo-v5</a></h2></li>
    </ul>
</body>
<footer align='center'>Created by <strong>© 2022 Team NO.3</strong></footer>
</html>